<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF File</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  
</head>

<body>
    <div class="text-center">
        <img src="/images/logo.png" alt="logo" srcset=""><br>
        <small>ROOT CAUSE ANALYSIS ID : <%=result.ser_num%></small><br><br><br><br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row"><h5>Date:</h5></th>
                        <td colspan="2"> <%=result.date%></td>
                      </tr>
                      <tr>
                        <th scope="row"><h5>BPO Sites Affected:</h5></th>
                        <td colspan="2" > <%=result.bpo%></td>
                      </tr>
                      <tr>
                        <th scope="row"><h5>Incident Number:</h5></th>
                        <td colspan="2"> <%=result.inc%></td>
            
                      </tr>
                      <tr>
                        <th scope="row"><h5>Prepared by:</h5></th>
                        <td colspan="2"> <%=result.prepared%></td>
                      </tr>
                      <tr>
                        <th scope="row"><h5>Start Date & Time:</h5></th>
                        <td colspan="2"><%=result.start_time%></td>
                      </tr>
                      <tr>
                        <th scope="row"><h5>End Date & Time:</h5></th>
                        <td colspan="2"><%=result.end_time%></td>
                      </tr>
           
                  
                      <tr>
                        <th scope="row"><h5>Problem Description:</h5></th>
                        <td colspan="2"> <%=result.desc%></td>
                      </tr>
                      <tr>
                        <th scope="row"><h5>Impact:</h5></th>
                        <td colspan="2"> <%=result.impacted%></td>
                      </tr>
                      <tr>
                        <th scope="row"><h5>Number of workstation:</h5></th>
                        <td colspan="2"> <%=result.num_of_workstations%></td>
            
                      </tr>
                      <tr>
                        <th scope="row"><h5>Root cause:</h5></th>
                        <td colspan="2"> <%=result.root_cause%></td>
                      </tr>
                      <tr>
                        <th scope="row"><h5>Resolution:</h5></th>
                        <td colspan="2"><%=result.resl%></td>
                      </tr>
                      <tr>
                        <th scope="row"><h5>Prevention:</h5></th>
                        <td colspan="2"><%=result.preven%></td>
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
  </div>
  <div class="text-center">
    <a href="/downloadpdf?target=<%=result.fullUrl%>/pdf/<%=result.ser_num%>">Download as PDF</a>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</body>
</html>